.root {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 96px;
  padding: 16px 24px;
  color: var(--app-bg-color);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--app-text-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: var(--transition-default);

  &:hover {
    opacity: 0.8;
  }

  &.appearance-onlyOnDark {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &.fullWidth {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &.onGrey {
    min-width: auto;
    min-height: 22px;
    padding: 8px 16px;
    color: var(--app-text-color);
    font-size: 14px;
    background-color: var(--color-ground-100);

    &:hover {
      color: var(--app-text-color);
      background-color: var(--color-ground-200);
      opacity: 1;
    }

    .iconLeft {
      margin-right: 5px;
    }

    .iconRight {
      margin: 0;
    }
  }

  &.onGreyRound {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--app-text-color);
    background-color: var(--color-ground-100);
    padding: 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:hover {
      color: var(--app-text-color);
      background-color: var(--color-ground-200);
      opacity: 1;
    }

    .iconRight {
      margin: 0;
    }
  }

  &.transponentBlack {
    min-width: auto;
    font-size: 16px;
    line-height: 25px;
    color: var(--app-text-color);
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: var(--color-ground-800);
    }

    &:active {
      color: var(--color-ground-700);
    }

    &:focus {
      color: var(--app-text-color);
    }

    &:disabled {
      color: var(--color-ground-400);
    }
  }
}

.content {
  display: inline-flex;
}

.iconLeft {
  display: inline-flex;
  margin-right: 34px;

  & path {
    fill: var(--app-bg-color);
  }

  .root.onGrey & path {
    fill: var(--app-text-color);
  }

  .root.onGreyRound & path {
    fill: var(--app-text-color);
  }
}

.iconRight {
  display: inline-flex;
  margin-left: 5px;

  & path {
    fill: var(--app-bg-color);
  }

  .root.onGrey & path {
    fill: var(--app-text-color);
  }

  .root.onGreyRound & path {
    fill: var(--app-text-color);
  }
}
