:root {
  --black: #25262e;
  --gray: #66676f;
  --brand: #e83755;

  --color-text: var(--black);
}

html,
body {
  position: relative;
  background: var(--color-white);
}

body {
  color: var(--color-text);
  font-family: var(--fonts);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--brand);
  text-decoration: none;
}

p, h1, h2, h3{
  margin: 0;
}
